@import "colors.css";  
@import url(layout.css);

.logo img{
max-width: 100px;
}
.logo {
    margin: 0px auto; 
    text-align: center;
}

.content-image {
    max-width: 100px;
}

body {
 
    margin: 0px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

header {
    background-color: rgb(255, 255, 255);
}

header input#toggler {
    display: none;
}
h1 {
    vertical-align: middle;
}

header label img {
    width: 40px;
    height: auto;
    margin: 10px;
}
@media screen and (min-width: 750px){
    header label  {
        display: none;
    }
    .logo{
float: left;
    }
    
    
    header nav {
        display: block;
        text-align: center;
    }
    header nav li {
        display: inline-block;
    }
}

nav {
    padding: 20px 10px;
    display: none;
}

input#toggler:checked + nav{
    display: block;
    position: absolute;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

nav li {
    border-bottom: 1px solid #ffffff;
    padding: 10px 0px;
    margin: 10px;
}

nav li:first-child {
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    text-transform: uppercase;
}


/*---------------- Center CSS for All Pages-------------------*/

/* css for body covers background color and font size */ 
body {
  background: #ffffff;
  font-size: 80%;
  padding: 20px;
  line-height: 20px;
  background-image: url("../images/ripples.png");
background-repeat: repeat;
}

/* css for main*/ 
main {
  /*position: relative;*/
  background: rgb(255, 255, 255);
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  /*height: 600px;*/
}

/* css for floater section having image and text */ 
main .floater-section-container {
    /*height: 88%;*/
    width: 90%;
    right: 1%;
    /*top: 6%;
    overflow: hidden;
    position: relative;*/
    margin: 0 auto;
}

main .floater-section {
    background: rgb(0, 0, 0)65, 150, 150);
    color: black;
    width: 100%;
    /*position: absolute;*/
    top: 0;
    left: 2.5%;
    /*height: 100%;
    overflow: auto;*/
    right: 0;
    bottom: 0;
}

/* css for h1 and h2 heading tags */
h1, h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

/* media query work on mobile view */ 
@media only screen and (max-width: 720px)
{
	/* main css fixed for mobile view to max 300px */
	main{
		/*max-height: 300px;*/
	}
}
